.topheader {
  padding: 10px;
  color: #414040 !important ;
  font-size: 18px;
}

.contactnum {
  font-size: 20px;
  padding: 0 5px;
  color: #414040 !important;
}
.contactnum:hover {
  color: #b68c5a;
}
.contactemail:hover span {
  color: #b68c5a;
}

.header_social_icon{
  color: #6c757d;
  background-color: #eef0f0;
}

.header_social_icon:hover{
  background-color: #c39f57;
  color: #fff;
}
