a {
  text-decoration: none;
}
.search a {
  color: black;
}

.search-icons span i {
  font-size: 30px;
  color: #6c757d !important;
}
.search-icons span i:hover {
  color: #b68c5a;
}

.search-icons span i span {
  font-size: 10px;
  background-color: #cea36e;
}
